<div class="card flex-col dark-theme">

    <%= form_for(questionnaire) do |f| %>
    <% if questionnaire.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(questionnaire.errors.count, "error") %>
            prohibited this questionnaire from being saved:</h2>

        <ul>
            <% questionnaire.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
    <div class="field">
        <%= f.text_field :name, placeholder: 'FULL NAME' %>
    </div>
    <div class="field">
        <%= f.text_field :email, placeholder: 'EMAIL' %>
    </div>
    <div class="field">
        <%= f.text_field :project_repo, placeholder: 'PROJECT REPO' %>
    </div>
    <div class="field">
        <%= f.text_field :project_url, placeholder: 'PROJECT URL' %>
    </div>
    <div class="field">
        <%= f.label "USING BEST PRACTICES FOR OOP:" %>
        <%= f.number_field :oop, min: 0, max: 50, value: 0 %>
    </div>
    <div class="field">
        <%= f.label "MODULAR DEVELOPMENT:" %>
        <%= f.number_field :modular, min: 0, max: 50, value: 0 %>
    </div>
    <div class="field">
        <%= f.label "FULL-STACK WORKFLOW UNDERSTANDING:" %>
        <%= f.number_field :fullstack, min: 0, max: 50, value: 0 %>
    </div>
    <div class="field">
        <%= f.label "TESTING:" %>
        <%= f.number_field :testing, min: 0, max: 50, value: 0 %>
    </div>
    <div class="field">
        <%= f.label "DATABASE KNOWLEDGE:" %>
        <%= f.number_field :database, min: 0, max: 50, value: 0 %>
    </div>
    <div class="field">
        <%= f.label "DEBUGGING:" %>
        <%= f.number_field :debugging, min: 0, max: 50, value: 0 %>
    </div>
    <div class="field">
        <%= f.label "PROBLEM SOLVING SKILLS:" %>
        <%= f.number_field :problem, min: 0, max: 50, value: 0 %>
    </div>
    <div class="field">
        <%= f.label "JAVASCRIPT:" %>
        <%= f.number_field :javascript, min: 0, max: 50, value: 0 %>
    </div>
    <div class="field">
        <%= f.label "HTML:" %>
        <%= f.number_field :html, min: 0, max: 50, value: 0 %>
    </div>
    <div class="field">
        <%= f.label "CSS:" %>
        <%= f.number_field :css, min: 0, max: 50, value: 0 %>
    </div>
    <div class="field">
        <%= f.label "WORKING ON A TEAM:" %>
        <%= f.number_field :team, min: 0, max: 50, value: 0 %>
    </div>
    <div class="field">
        <%= f.label "SELF MOTIVATION:" %>
        <%= f.number_field :motivation, min: 0, max: 50, value: 0 %>
    </div>
    <div class="field">
        <%= f.label "COMMUNICATION SKILLS:" %>
        <%= f.number_field :communication, min: 0, max: 50, value: 0 %>
    </div>
    <div class="field">
        <%= f.label "YOUR OWN ENERGY LEVEL:" %>
        <%= f.number_field :energy, min: 0, max: 50, value: 0 %>
    </div>
    <div class="field">
        <%= f.label "INTELLIGENCE / APTITUDE:" %>
        <%= f.number_field :aptitude, min: 0, max: 50, value: 0 %>
    </div>

    <div class="actions">
        <%= f.submit "SUBMIT" %>
    </div>
    <% end %>

</div>
