<div class="form-card">

    <%= form_for(questionnaire) do |f| %>
    <% if questionnaire.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(questionnaire.errors.count, "error") %>
            prohibited this questionnaire from being saved:</h2>

        <ul>
            <% questionnaire.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>

    <div class="field">
        <%= f.text_field :name, placeholder: 'FULL NAME' %>
    </div>
    <div class="field">
        <%= f.text_field :email, placeholder: 'EMAIL' %>
    </div>
    <div class="field">
        <%= f.text_field :project_repo, placeholder: 'PROJECT REPO' %>
    </div>
    <div class="field">
        <%= f.text_field :project_url, placeholder: 'PROJECT URL' %>
    </div>
    <div class="field">
        <%= f.label "USING BEST PRACTICES FOR OOP:" %>
        <%= f.number_field :oop %>
    </div>
    <div class="field">
        <%= f.label "MODULAR DEVELOPMENT:" %>
        <%= f.number_field :modular %>
    </div>
    <div class="field">
        <%= f.label "FULL-STACK WORKFLOW UNDERSTANDING:" %>
        <%= f.number_field :fullstack %>
    </div>
    <div class="field">
        <%= f.label "TESTING:" %>
        <%= f.number_field :testing %>
    </div>
    <div class="field">
        <%= f.label "DATABASE KNOWLEDGE:" %>
        <%= f.number_field :database %>
    </div>
    <div class="field">
        <%= f.label "DEBUGGING:" %>
        <%= f.number_field :debugging %>
    </div>
    <div class="field">
        <%= f.label "PROBLEM SOLVING SKILLS:" %>
        <%= f.number_field :problem %>
    </div>
    <div class="field">
        <%= f.label "JAVASCRIPT:" %>
        <%= f.number_field :javascript %>
    </div>
    <div class="field">
        <%= f.label "HTML:" %>
        <%= f.number_field :html %>
    </div>
    <div class="field">
        <%= f.label "CSS:" %>
        <%= f.number_field :css %>
    </div>
    <div class="field">
        <%= f.label "WORKING ON A TEAM:" %>
        <%= f.number_field :team %>
    </div>
    <div class="field">
        <%= f.label "SELF MOTIVATION:" %>
        <%= f.number_field :motivation %>
    </div>
    <div class="field">
        <%= f.label "COMMUNICATION SKILLS:" %>
        <%= f.number_field :communication %>
    </div>
    <div class="field">
        <%= f.label "YOUR OWN ENERGY LEVEL:" %>
        <%= f.number_field :energy %>
    </div>
    <div class="field">
        <%= f.label "INTELLIGENCE / APTITUDE:" %>
        <%= f.number_field :aptitude %>
    </div>

    <div class="actions">
        <%= f.submit "SUBMIT" %>
    </div>
    <% end %>

</div>
