<div class="card left flex-col dark-theme width-auto">

    <table cellpadding="10" cellspacing="5">
        <tr>
            <td>FULL NAME:</td>
            <td class="light-theme"><%= @questionnaire.name %></td>
        </tr>
        <tr>
            <td>EMAIL:</td>
            <td class="light-theme"><%= @questionnaire.email %></td>
        </tr>
        <tr>
            <td>PROJECT REPO:</td>
            <td class="light-theme"><%= @questionnaire.project_repo %></td>
        </tr>
        <tr>
            <td>PROJECT URL:</td>
            <td class="light-theme"><%= @questionnaire.project_url %></td>
        </tr>
    </table>

</div>
<div class="card right flex-col dark-theme">
    <table cellpadding="10" cellspacing="5">
        <tr>
            <td>USING BEST PRACTICES FOR OOP:</td>
            <td class="light-theme"><%= @questionnaire.oop %></td>
        </tr>
        <tr>
            <td>MODULAR DEVELOPMENT:</td>
            <td class="light-theme"><%= @questionnaire.modular %></td>
        </tr>
        <tr>
            <td>FULL-STACK WORKFLOW UNDERSTANDING:</td>
            <td class="light-theme"><%= @questionnaire.fullstack %></td>
        </tr>
        <tr>
            <td>TESTING:</td>
            <td class="light-theme"><%= @questionnaire.testing %></td>
        </tr>
        <tr>
            <td>DATABASE KNOWLEDGE:</td>
            <td class="light-theme"><%= @questionnaire.database %></td>
        </tr>
        <tr>
            <td>DEBUGGING:</td>
            <td class="light-theme"><%= @questionnaire.debugging %></td>
        </tr>
        <tr>
            <td>PROBLEM SOLVING SKILLS:</td>
            <td class="light-theme"><%= @questionnaire.problem %></td>
        </tr>
        <tr>
            <td>JAVASCRIPT:</td>
            <td class="light-theme"><%= @questionnaire.javascript %></td>
        </tr>
        <tr>
            <td>HTML:</td>
            <td class="light-theme"><%= @questionnaire.html %></td>
        </tr>
        <tr>
            <td>CSS:</td>
            <td class="light-theme"><%= @questionnaire.css %></td>
        </tr>
        <tr>
            <td>WORKING ON A TEAM:</td>
            <td class="light-theme"><%= @questionnaire.team %></td>
        </tr>
        <tr>
            <td>SELF MOTIVATION:</td>
            <td class="light-theme"><%= @questionnaire.motivation %></td>
        </tr>
        <tr>
            <td>COMMUNICATION SKILLS:</td>
            <td class="light-theme"><%= @questionnaire.communication %></td>
        </tr>
        <tr>
            <td>YOUR OWN ENERGY LEVEL:</td>
            <td class="light-theme"><%= @questionnaire.energy %></td>
        </tr>
        <tr>
            <td>INTELLIGENCE / APTITUDE:</td>
            <td class="light-theme"><%= @questionnaire.aptitude %></td>
        </tr>
    </table>

</div>
